<html lang="en" xmlns:xsd="http://www.w3.org/2001/XMLSchema#" xmlns:skos="http://www.w3.org/2004/02/skos/core#" xmlns:sioct="http://rdfs.org/sioc/types#" xmlns:sioc="http://rdfs.org/sioc/ns#" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:og="http://ogp.me/ns#" xmlns:foaf="http://xmlns.com/foaf/0.1/" xmlns:dc="http://purl.org/dc/terms/" xmlns:content="http://purl.org/rss/1.0/modules/content/" version="HTML+RDFa 1.1" dir="ltr" class="js">

<head profile="http://www.w3.org/1999/xhtml/vocab">
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
</head>
<body class="html">
	<div id="page" class="page clearfix">
		<header class="section section-header" id="section-header">
		</header>
		<section class="section section-content" id="section-content">
			<div class="zone-wrapper zone-fbg-wrapper clearfix" id="zone-fbg-wrapper">  
				<div class="zone zone-fbg clearfix container-12" id="zone-fbg">
					<div id="region-fbg-third" class="grid-12 region region-fbg-third">
						<div class="region-inner region-fbg-third-inner">
							<div id="block-block-9" class="block block-block header-blue block-9 block-block-9 odd block-without-title">
								<div class="block-inner clearfix">
									<div class="content clearfix">	
									</div>
								</div>
							</div>
							<div id="block-block-10" class="block block-block column-intro block-10 block-block-10 odd block-without-title">
								<div class="block-inner clearfix">
									<div class="content clearfix">	
										<div class="download-teaser">
											<h3>Take the next step</h3>
											<p>Lore IPSUM dolor sit... <a href="#" target="_blank"><strong>amet</strong></a>...</p>
										</div>
									</div>
								</div>
							</div>
							<div id="block-block-11" class="block block-block download-link block-11 block-block-11 odd block-without-title">
								<div class="block-inner clearfix">
									<div class="content clearfix">		
										<h3><a href="#" target="_blank">Download <em>something</em></a></h3>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="section section-footer" id="section-footer">
		</footer>
	</div>
</body>	
</html>